// RETICULA GENERAL

.frame-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(7);

// ENCABEZADO

&__header{ 
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    background-color:#222e50;
    border-bottom: #bced09 solid 3px;
    font-family: 'Covered By Your Grace';
    font-size: 20px;
}

&__header a{
    text-decoration: none;
    color:#00f6ed;
}

&__header a:hover {
    color: #bced09;
}

// BARRA DE NAVEGACION

&__nav{
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-bottom: #bced09 double 3px;
    background-image: url('/img/fondm.jpg');

    &--lgn{
        height: 70px;
        margin: 20px;
    }
    &--menu{
        text-decoration: none;
        color:#fff;
        margin: 0 40px;
        font-size: 15px;
        display: inline-block;
        padding: 10px;
    }
    &--menu span{
        padding-left: 10px;
        color: #00f6ed;
        font-family: 'Blinker', sans-serif;
    
    }
}

&__nav a:hover{
    color: #bced09;
}

&__nav span:hover{
    color: #bced09;
}

// CAROUSEL

&__slide {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

// ANUNCIO LANZAMIENTOS/PLATAFORMAS 

&__platform{
    grid-column: 1 / 5 ;
    grid-row: 4 / 5;
    border-top: #bced09 double 3px;
    background-color:#000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; 
    margin-bottom: 4px;
    color: #fff;
    font-family: 'Covered By Your Grace';
    font-size: 30px;
    box-shadow: 0px 4px  #bced09;
}

&__platform img{
    height: 30px;
    padding: 15px 30px;
    box-shadow: 0 2px 5px #bced09a0;
    border-radius: 4px;
}

&__platform img:hover{
    box-shadow: 0 2px 5px #00f6ed;
    border-radius: 4px;
    background-color: #222e50;
}

// SECCION1 CONTENEDOR- TARJETAS

&__section1{
    grid-column: 1 / 5;
    grid-row: 5 / 7;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-image: url('/img/fondm.jpg');
    width: 100%;
} 

// PIE DE PAGINA

&__footer{
    grid-column: 1 / 5;
    grid-row: 7;
    display: flex;
    justify-content: space-around;
    background-color: #222e50;
    border-top: 4px double #bced09;
    color: #bced09;
    padding: 40px;
    font-family: 'Blinker', sans-serif;
    font-size: 15px;

    &--1 img{
        width: 250px;
    }

    &--2 p{
        font-family:'Covered By Your Grace';
        color: #fff;
    }
    &--3 p{
        font-family:'Covered By Your Grace';
        color: #fff;
    }
    &--4 img{
        width: 200px;
        text-align: left;
    }
}
}
