.frame-container {
    &__slide{   
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     background-color: #000;
        &--box {
         position: relative;
         max-width: 1200px;
         width: 100%;
         border-radius: 10px;
         overflow: hidden;
        }
    }
    &__slide img {
    max-width: 100%;
    }
}
.gallery {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 25s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}
.navgallery {
     position: absolute;
     bottom: 20px;
     left: 0;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     width: 100%;
        
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #fffae0;
        width: 15px;
        height: 5px;
        border-radius: 2px;
        overflow: hidden;
        cursor:pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        text-align: center;
        transition: all 300ms;
    }
    
    &__item:hover {
        transform: scale(2);
    }
}

input[id="1"]:checked ~ .gallery{
    animation: auto;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .navgallery .navgallery__item[for="1"]{
    background-color: #00f6ed;
}
input[id="2"]:checked ~ .gallery{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .navgallery .navgallery__item[for="2"]{
    background-color: #00f6ed;
}
input[id="3"]:checked ~ .gallery{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .navgallery .navgallery__item[for="3"]{
    background-color: #00f6ed;
}
input[id="4"]:checked ~ .gallery{
    animation: auto;
    transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .navgallery .navgallery__item[for="4"]{
    background-color: #00f6ed;
}
input[id="5"]:checked ~ .gallery{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .navgallery .navgallery__item[for="5"]{
    background-color: #00f6ed;
}
input[id="6"]:checked ~ .gallery{
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}
input[id="6"]:checked ~ .navgallery .navgallery__item[for="6"]{
    background-color: #00f6ed;
}
@keyframes autoplay{
    16%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    32%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    48%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    64%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    80%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 5), 0, 0);
    }
}